<h2 class="mb-5 pb-4">
  <span class="text-danger">{{ service.highlightedTitle }}</span>
  {{ service.Title }}
</h2>
<div class="row">
  <div class="col-md-6 col-sm-6" *ngFor="let i of service.myWork">
    <div class="card mb-5">
      <div class="card-header has-icon">
        <i [ngClass]="i.icon" aria-hidden="true"></i>
      </div>
      <div class="card-body px-4 py-3">
        <h5 class="mh-5x mb-3 card-title text-dark">
          {{ i.name }}
        </h5>
        <h6 class="mb-3 subtitle text-dark">
          {{ i.spot }}
        </h6>
        <ng-template #serve>
          <div class="mh-18x" [innerHTML]="i.details"></div>
        </ng-template>
        <ng-container [ngTemplateOutlet]="serve"></ng-container>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-6 col-sm-6">
      <div class="card mb-5">
        <div class="card-header has-icon">
          <i class="ti-bar-chart text-danger" aria-hidden="true"></i>
        </div>
        <div class="card-body px-4 py-3">
          <h5 class="mh-5x mb-3 card-title text-dark">BI Visualizer</h5>
          <h6 class="mb-3 subtitle text-dark">
            European Stock Exchange -- Freelance
          </h6>
          <p class="mh">
            Designed and Developed a microservice-based Prototype for BI,
            Visualization, Analyses, and Manipulation of Big Data sourcing
            from <strong>Snowflake</strong>. 
            Tech Stack consisted <b>Angular</b>, 
            <b>NestJs</b>, 
            <b>Kubernetes</b>, 
            <b>CICD</b>, 
            <b>Helm</b>, 
            <b>MongoDB</b>, 
            <b>D3js</b> and 
            <b>Snowflakes</b> etc.
             The product was later developed in-house by the company.
          </p>
        </div>
      </div>
    </div> -->

  <!-- <div class="col-md-6 col-sm-6">
      <div class="card mb-5">
        <div class="card-header has-icon">
          <i class="ti-bar-chart text-danger" aria-hidden="true"></i>
        </div>
        <div class="card-body px-4 py-3">
          <h5 class="mh-5x mb-3 card-title text-dark">
            European Stock Exchange -- Freelance
          </h5>
          <h6 class="mb-3 subtitle text-dark">
            Designed and Developed an ETL to source data from Qualys API into Snowflake for BI
          </h6>
          <p class="mh">
            Design and Developed multiple high performance, robust, multi-threaded ETL scripts to pull vulnerabilities and hosts detections data from Qualays Api Server using 
            <b>Python</b>, <b>NodeJS</b> and <b>Matillion</b>. 
            The data was then loaded into <b>Snowflake</b> for <b>BI</b> and <b>Visualization</b>.
          </p>
        </div>
      </div>
    </div> -->
  <!-- <div class="col-md-6 col-sm-6">
      <div class="card mb-5">
        <div class="card-header has-icon">
          <i class="ti-support text-danger" aria-hidden="true"></i>
        </div>
        <div class="card-body px-4 py-3">
          <h5 class="mh-5x mb-3 card-title text-dark">
            CallusDoctors.com
          </h5>
          <h6 class="mb-3 subtitle text-dark">
            Remedial Medical USA -- Freelance
          </h6>
          <p class="mh">
            Design and Developed a Patient and Practice Management Web
            Application for a US Based Health Care Institution. The
            product was built using <strong>Angular</strong> and
            <strong>NodeJS</strong> using state of the art cloud native
            architecture.
          </p>
        </div>
      </div>
    </div> -->
</div>
