<div class="sub-container">
  <div class="m-2 d-flex justify-content-between">
    <h2 class="mb-5">
      {{ blog.highlightedTitle }}
      <span class="text-danger">{{ blog.title }}</span>
    </h2>
    <span class="mb-5">
      <a [href]="blog.blogLink" class="view-all text-danger" target="_blank">{{
        blog.buttonText
      }}</a>
    </span>
  </div>
</div>

<div class="row justify-content-center">
  <!-- blog-card -->
  <ng-container *ngFor="let i of blog.blog">
    <div class="blog-card">
      <div class="img-holder">
        <img [src]="i.imageLink" [alt]="i.alt" />
      </div>
      <div class="content-holder">
        <h4 class="title">
          {{ i.title }}
        </h4>

        <p class="post-details">
          <a [href]="i.blogLink">By: {{ i.name }}</a>
          <a [href]="i.blogLink" *ngIf="i.likes !== ''"
            ><i class="ti-heart text-danger"></i> {{ i.likes }}</a
          >
          <a [href]="i.blogLink" *ngIf="i.comments !== ''"
            ><i class="ti-comment"></i> {{ i.comments }}</a
          >
        </p>

        <p [ngClass]="i.paragraph.bold ? 'paragraphBold' : ''">
          {{ i.paragraph.firstlines }}
          <a
            class="text-danger"
            *ngIf="i.paragraph.link !== ''"
            [href]="i.paragraph.link"
            target="_blank"
            >{{ i.paragraph.linktext }}</a
          >
          {{ i.paragraph.secondlines }}
        </p>
        <p>
          {{ i.paragraph2 }}
        </p>
        <a [href]="i.Link2" class="read-more text-danger"
          >Read more <i class="ti-angle-double-right"></i
        ></a>
      </div>
    </div>
  </ng-container>
  <!-- end of blog wrapper -->
  <!-- blog-card -->
  <!-- <div class="blog-card">
      <div class="img-holder">
        <img src="assets/imgs/blog2.jpeg" alt="blog image" />
      </div>
      <div class="content-holder">
        <h6 class="title">
          Securing the Kubernetes Clusters with AI and ML
        </h6>

        <p class="post-details">
          <a href="https://blog.arslanali.io">By: Arslan</a>
          <a href="https://blog.arslanali.io"><i class="ti-heart text-danger"></i> 234</a> -->
  <!-- <a href="https://blog.arslanali.io"><i class="ti-comment"></i> 123</a> -->
  <!-- </p>

        <p>
            Kaiops uses AI and ML on top of Rules based anomaly and
            vulnerability detection, creating a virtually unbreakable line
            of defense for K8s Clusters.
         
        </p>
        <p>
          More than half of all enterprises consider security as their
          biggest challenge when publishing their microservice workloads
          in production. 50% require developers to use validated images
          only, around 80% want to have a DevSecOps initiative, more than
          40% consider DevOps as the role most responsible for Kubernetes
          security, and most importantly, more than half have delayed
          application deployment due to security concerns.
        </p>



        <a
          href="https://blog.arslanali.io/how-to-secure-kubernetes-clusters-with-ai-and-ml"
          class="read-more"
          target="_blank"
          >Read more <i class="ti-angle-double-right"></i
        ></a>
      </div>
    </div> -->
  <!-- end of blog wrapper -->

  <!-- blog-card -->
  <!-- <div class="blog-card">
      <div class="img-holder">
        <img src="assets/imgs/blog1.jpeg" alt="blog" />
      </div>
      <div class="content-holder">
        <h6 class="title">
          Microservices based Application Deployment using Gitlab CI/CD on
          Docker Swarm
        </h6>

        <p class="post-details">
          <a href="https://blog.arslanali.io">By: Arslan</a>
          <a href="https://blog.arslanali.io"
            ><i class="ti-heart text-danger"></i>76</a
          >
        </p>

        <p>
          Using Docker’s official sample voting app microservices example
          to implement Gitlab’s CI/CD and deploy them on Docker Swarm will
          be the agenda. In my next article, I will use the same but
          deploy it on Kubernetes Cluster. Let’s do this!…
        </p>

        <a
          href="https://faun.pub/microservices-based-application-deployment-using-gitlab-ci-cd-on-docker-swarm-at-digital-ocean-586eefb07294"
          class="read-more"
          target="_blank"
          >Read more <i class="ti-angle-double-right"></i
        ></a>
      </div>
    </div> -->
  <!-- end of blog wrapper -->
  <a [href]="blog.blogLink" class="btn btn-primary rounded" target="_blank">
    {{ blog.buttonText }}</a
  >
</div>
