.rounded {
  border-radius: 0.25rem !important;
}

.btn-primary {
  color: #fff;
  background-color: #f85c70;
  border-color: #f85c70;
}

.btn {
  width: fit-content;
}

.text-danger {
  text-decoration: none;
}
// .btn {
//     display: inline-block;
//     font-weight: 400;
//     color: #212529;
//     text-align: center;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     border-radius: 0.25rem;
//     -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
//     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }
.paragraphBold {
  font-weight: 800;
}
