<div class="row">
    <div class="col-lg-8">
      <div class="contact-form-card">
        <h4 class="contact-title">Send a message</h4>
        <!--Form child component-->
        <app-form></app-form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-info-card">
        <h4 class="contact-title">Get in touch</h4>

        <div class="row mb-2" *ngFor="let i of contact" >
          <div class="col-1 pt-1 mr-1">
            <i class="{{i.class}}"></i>
          </div>
          <div class="col-10">
            <h6 class="d-inline">
              {{i.title}} : <br />
              <span class="text-muted">{{i.value}}</span>
            </h6>
          </div>
        </div>
    
        <!--issues-->
        <app-social-icons
      class="social-icons mx-2 pt-3" 
      [social]="social" 
      textColor="text-dark"
    ></app-social-icons>
    

      </div>
    </div>
  </div>
