    <ul class="social-icons mx-2 pt-3 gap-4">
      <li class="social-item" *ngFor="let s of social">
        <a
          [ngClass]="'social-link ' + textColor"
          [href]="s.link"
          ><i [ngClass]="s.icon" aria-hidden="true"></i
        ></a>
      </li>     
    </ul>

   