<!--Home Section-->
<section id="home">
  <header class="header" [ngStyle]="{'background-image': 'linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url(assets/imgs/header.jpg)'}">
    <div class="container">
      <!--child component of links-->
      <app-social-icons
        class="social-icons mx-2 pt-3"
        [social]="this.profileData.socials"
        textColor="text-light"
      ></app-social-icons>

      <div class="header-content">
        <h4 class="header-subtitle">{{ profileData.mainBanner.title }}</h4>
        <h1 class="header-title">{{ profileData.mainBanner.yourName }}</h1>
        <div class="d-flex gap-2">
          <!-- <h6 class="header-mono"
          *ngFor="let item of this.profileData.description; let last=last">
              {{item}} <ng-container *ngIf="!last">|</ng-container>      
            </h6> -->
          <h6 class="header-mono">
            {{ profileData.mainBanner.jobPositions }}
          </h6>
        </div>
        <!--new transition heading-->
        <!-- <div class="d-flex">
          <h6 data-text="hello girl">hello girl</h6>
        </div> -->

        <a
          class="btn btn-primary btn-rounded"
          href="{{ profileData.mainBanner.resumeLink }}"
          target="_blank"
          ><i class="ti-printer pr-2"></i
          >{{ profileData.mainBanner.buttonText }}</a
        >
        <div class="certs cmt">
          <app-certificates
            class="d-flex"
            [cert]="this.profileData.mainBanner.certification"
          ></app-certificates>
        </div>
      </div>
    </div>
  </header>
</section>
<!--Home Section//////////-->

<nav
  class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
  data-spy="affix"
  data-offset-top="510"
>
  <div class="container">
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{ profileData.nav.linkText.linkHome }}" class="nav-link">
            {{ profileData.nav.linkText.title1 }}</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ profileData.nav.linkText.linkAbout }}" class="nav-link">{{
            profileData.nav.linkText.title2
          }}</a>
        </li>
        <li class="nav-item">
          <a
            href="{{ profileData.nav.linkText.linkResume }}"
            class="nav-link"
            >{{ profileData.nav.linkText.title3 }}</a
          >
        </li>
      </ul>
      <ul class="navbar-nav brand">
        <img src="{{ profileData.nav.avatarLink }}" alt="" class="brand-img" />
        <li class="brand-txt">
          <h5 class="brand-title">
            {{ this.profileData.mainBanner.yourName }}
          </h5>
          <div class="brand-subtitle">
            {{ profileData.nav.avatarTitle }}
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            href="{{ profileData.nav.linkText.linkPortfolio }}"
            class="nav-link"
            >{{ profileData.nav.linkText.title4 }}</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ profileData.nav.linkText.linkBlog }}" class="nav-link">{{
            profileData.nav.linkText.title5
          }}</a>
        </li>
        <li class="nav-item last-item">
          <a
            href="{{ profileData.nav.linkText.linkContact }}"
            class="nav-link"
            >{{ profileData.nav.linkText.title6 }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--About Section////-->
<section id="about">
  <div class="container-fluid">
    <app-about
      [summary]="profileData.about.summary"
      [personalInfo]="profileData.about.personalInfo"
      [experties]="profileData.about.expertiese"
      [social]="profileData.socials"
      [Link]="profileData.mainBanner.resumeLink"
      textColor="text-danger"
    >
    </app-about>
  </div>
</section>

<!--Resume Section-->
<section class="section" id="resume">
  <div class="container">
    <app-resume [resume]="profileData.resume"></app-resume>
  </div>
</section>
<!-- Resume Section end -->

<!-- Banner Section done/// -->

<section class="section bg-dark text-center">
  <div class="container">
    <app-banner [banValues]="this.profileData.banValues"></app-banner>
  </div>
</section>

<!-- "service" section-->
<section class="section" id="service">
  <div class="container">
    <app-services [service]="profileData.projects"></app-services>
  </div>
</section>

<!-- mini banner section //// -->

<section class="section bg-dark py-5">
  <app-mini [values]="this.profileData.availabilityBanner"></app-mini>
</section>

<!-- Blog section ///////-->
<!-- <section class="section" id="blog">
  <div class="container">
    <app-blog [blog]="this.profileData.articles"></app-blog>
  </div>
</section> -->

<!-- Reviews section///-->
<section class="section" id="reviews">
  <div class="container">
    <app-feedback [review]="profileData.review"></app-feedback>
  </div>
</section>

<!-- Portfolio Section.////  -->
<section class="section bg-custom-gray" id="portfolio">
  <app-portfolio [portfolio]="this.profileData.portfolio"></app-portfolio>
</section>
<!-- End of portfolio section -->

<!-- Contact section/////-->
<section class="section contact" id="contact">
  <div id="map" class="map"></div>
  <div class="container">
    <app-contact
      [social]="this.profileData.socials"
      [contact]="this.profileData.contacts"
    ></app-contact>
  </div>
</section>

<!-- Footer section/////-->
<footer class="footer py-3">
  <app-footer [footerValues]="this.profileData.footervalue"></app-footer>
</footer>
