app-certificates {
    display: flex;
}
@media (min-width: 1400px){
 .container {
    max-width: 1140px;
 }
}

.btn-rounded {
    border-radius: 100px;
}
.btn-primary {
    color: #fff;
    background-color: #f85c70;
    border-color: #f85c70;
}
