<div class="row about-section">
  <div class="col-lg-4 about-card">
    <h3 class="font-weight-light">{{ summary.title }}</h3>
    <span class="line mb-5"></span>
    <h5 class="mb-3">
      {{ summary.aboutTitle }}
    </h5>

    <ng-template #smry>
      <div class="mt-20" [innerHTML]="summary.short"></div>
    </ng-template>
    <ng-template #smrydtl>
      <div class="description">
        <div
          [class.small-size]="!showMoreContent"
          class="more-content"
          [innerHTML]="summary.detail"
        ></div>
      </div>
    </ng-template>

    <ng-container [ngTemplateOutlet]="smry"></ng-container>

    <ng-container
      *ngIf="showMoreContent"
      [ngTemplateOutlet]="smrydtl"
    ></ng-container>

    <div class="btn" (click)="showMore()">
      <span class="text-danger" *ngIf="showMoreContent; else more">
        read less
      </span>
      <ng-template #more>
        <span class="text-danger"> read more </span>
      </ng-template>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <a
        class="btn btn-outline-danger mt-md-1 w-50"
        [href]="Link"
        target="_blank"
        ><i class="icon-down-circled2"></i>{{ summary.button }}</a
      >
      <!-- <span class="pr-4 pl-4 align-self-center"> -- or -- </span>
        <a class="btn btn-outline-danger mt-md-1 w-50" href="mailto:itsme@arslanali.io"
          ><i class="icon-down-circled2"></i>Lets Connect</a
        > -->
    </div>
  </div>
  <div class="col-lg-4 about-card">
    <h3 class="font-weight-light">{{ personalInfo.title }}</h3>
    <span class="line mb-5"></span>
    <ul class="mt40 info list-unstyled">
      <!-- <li><span>Birthdate</span> : 06/27/1982</li> -->
      <li>
        <span>{{ personalInfo.heading1 }}</span>
        {{ personalInfo.email }}
      </li>
      <li>
        <span>{{ personalInfo.heading2 }}</span> {{ personalInfo.phone }}
      </li>
      <li>
        <span>{{ personalInfo.heading3 }}</span>
        {{ personalInfo.skype }}
      </li>
    </ul>

    <app-social-icons
      class="social-icons mx-2 pt-3"
      [social]="social"
      [textColor]="textColor"
    ></app-social-icons>
  </div>
  <div class="col-lg-4 about-card">
    <h3 class="font-weight-light">{{ experties.title }}</h3>
    <span class="line mb-5"></span>

    <div class="row" *ngFor="let e of experties.description">
      <div class="col-1 text-danger pt-1">
        <i [ngClass]="e.class"></i>
      </div>
      <div class="col-10 ml-auto mr-3">
        <h6>{{ e.title }}</h6>
        <p class="subtitle">
          {{ e.subtitle }}
        </p>
        <hr />
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-1 text-danger pt-1">
          <i class="ti-stats-up icon-lg"></i>
        </div>
        <div class="col-10 ml-auto mr-3">
          <h6>Application Development</h6>
          <p class="subtitle">Web, Mobile, Desktop, IoT and more...</p>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-1 text-danger pt-1">
          <i class="ti-paint-bucket icon-lg"></i>
        </div>
        <div class="col-10 ml-auto mr-3">
          <h6>Technology Evangelism</h6>
          <p class="subtitle">
            Servant leadership, knowledge sharing, writing and more...
          </p>
          <hr />
        </div>
      </div> -->
  </div>
</div>
