<div class="container">
  <h2 class="pb-4">
    <span class="text-danger">{{ review.highlightedTitle }}</span>
    {{ review.Title }}
  </h2>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div [ngClass]="i.class" *ngFor="let i of review.values">
        <div class="carousel-caption">
          <p>
            {{ i.paragragh }}
          </p>
          <img [src]="i.imageLink" />

          <div id="image-caption">{{ i.name }}</div>
          <span class="caption">{{ i.detail }}</span>
          <div class="source">
            <a class="" [href]="i.myLink">
              <i class="source-icon ti-linkedin" aria-hidden="true"></i>
            </a>
          </div>

          <!-- <a class="" href="https://linkedin.com/in/arslan-ali-ansari"
            ><i class="ti-linkedin" aria-hidden="true"></i
          ></a> -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="fas fa-arrow-left left"></i>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <i class="fas fa-arrow-right right"></i>
    </a>
  </div>
</div>
