body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(233, 150, 150);
  font-family: "Open Sans";
}
#demo {
  //   background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 900px;
  margin: auto;
}
.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}
@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1rem;
  }
}
.caption {
  position: initial;
  z-index: 10;
  padding: 3rem 2rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  //   font-weight: bold;
  //   line-height: 1rem;
}

.source-icon {
  position: absolute;
  bottom: 230px;
  right: calc(50% - 56px);
  border-radius: 50%;
  background: #0077b5;
  color: white;
  padding: 15px 21px 15px 9px;
  width: 15px;
  height: 15px;
  line-height: 0;
  font-size: 13px;
}
.source .source-icon:hover {
  background: blue;
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
  box-shadow: 3px 3px 7px 1px rgb(0 0 0 / 30%);
}
@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}
#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

.carousel-control-prev {
  justify-content: flex-start;
  .left {
    color: rgb(233, 150, 150);
  }
}

.carousel-control-next {
  justify-content: flex-end;
  .right {
    color: rgb(233, 150, 150);
  }
}
.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
  text-decoration: none;
}

.social-icons {
  // list-style-type: none;
  // padding-left: 0;
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-pack: justify;
  // // -webkit-justify-content: space-between;
  // -ms-flex-pack: justify;
  // justify-content: center;
  // text-align: center;
  // //   max-width: 180px;
}

.social-icons .social-link {
  // font-size: 15px;
  // color: #f85c70;
  // // justify-content: center;
  // text-decoration: none;
  // position: initial;
  // z-index: 10;
  // // padding: 3rem 2rem;
  // text-align: center;
}

.social-icons .social-link:hover {
  // color: #252fe6;
}

.social-icons .social-link i {
  // background-color: #fff;
  // padding: 0;
  // display: flex;
  // text-align: center;
  // position: initial;
  // z-index: 10;

  // position: initial;
  //   z-index: 10;
  //   font-size: 1rem;
}
