<div class="row text-center">
  <div class="col-md-6 col-lg-3" *ngFor="let i of banValues">
    <div class="row">
      <div class="col-5 text-right text-light border-right py-3">
        <div class="m-auto">
          <i [ngClass]="i.class"></i>
        </div>
      </div>
      <div class="col-7 text-left py-3">
        <h1 class="text-danger font-weight-bold font40">{{ i.score }}</h1>
        <p class="text-light mb-1">{{ i.name }}</p>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6 col-lg-3">
      <div class="row">
        <div class="col-5 text-right text-light border-right py-3">
          <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
        </div>
        <div class="col-7 text-left py-3">
          <h1 class="text-danger font-weight-bold font40">10%</h1>
          <p class="text-light mb-1">Integration</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="row">
        <div class="col-5 text-right text-light border-right py-3">
          <div class="m-auto">
            <i class="ti-face-smile icon-xl"></i></div>
        </div>
        <div class="col-7 text-left py-3">
          <h1 class="text-danger font-weight-bold font40">30%</h1>
          <p class="text-light mb-1">Coordination</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="row">
        <div class="col-5 text-right text-light border-right py-3">
          <div class="m-auto">
            <i class="ti-heart-broken icon-xl"></i>
          </div>
        </div>
        <div class="col-7 text-left py-3">
          <h1 class="text-danger font-weight-bold font40">10%</h1>
          <p class="text-light mb-1">Knowledge Sharing</p>
        </div>
      </div>
    </div> -->
</div>
