<div class="cert" *ngFor="let c of cert">
  <a [href]="c.certificateLink" target="_blank" [title]="c.title">
    <img
      class="certificate_img"
      [ngClass]="c.class"
      [src]="c.badgeLink"
      [alt]="c.alt"
    />
  </a>
</div>
