<form action="">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="Name *"
        required
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        placeholder="Email *"
        required
      />
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        id=""
        placeholder="Message *"
        rows="7"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary">
        Send Message (Not Functional yet)
      </button>
    </div>
  </form>