<div class="card">
  <div class="card-header">
    <div class="pull-left">
      <h4 class="mt-2">{{ aptitude.heading4 }}</h4>
      <span class="line"></span>
    </div>
  </div>
  <div class="card-body pb-2" *ngFor="let i of aptitude.aptitude">
    <h6>{{ i.title }}</h6>
    <div class="progress mb-3">
      <div
        class="progress-bar bg-danger"
        role="progressbar"
        [ngStyle]="{ width: i.score }"
      ></div>
    </div>
    <!-- <h6>Product Management</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Servant Leadership</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>System Design</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 93%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Presentation</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 93%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div> -->
  </div>
</div>
