<div class="card">
  <div class="card-header">
    <div class="mt-2">
      <h4>{{ education.heading2 }}</h4>
      <span class="line"></span>
    </div>
  </div>
  <div class="card-body" *ngFor="let i of education.education">
    <!-- <h6 class="title text-danger">2003 - 2004</h6> -->
    <div class="subtitle">{{ i.qualification }}</div>
    <p class="">{{ i.university }}</p>
    <hr />
  </div>
</div>
