<h2 class="mb-5"><span class="text-danger"></span>{{ resume.mainTitle }}</h2>
<div class="row">
  <div class="col-12 col-md-6 col-lg-8">
    <app-res-work-history [resume]="resume"></app-res-work-history>
  </div>
  <!--/////////////////////work history end//////////////////////////-->

  <!--/////////////////////education//////////////////////////-->

  <div class="col-12 col-md-6 col-lg-4">
    <app-education [education]="resume"></app-education>

    <!--/////////////////////education ends//////////////////////////-->

    <!--/////////////////////hours spent//////////////////////////-->

    <app-hours [hours]="resume"></app-hours>

    <!--/////////////////////distinguished aptitude//////////////////////////-->
    <app-aptitude [aptitude]="resume"> </app-aptitude>
  </div>
  <div class="col-lg-4"></div>
</div>
