.experience-item {
  overflow: hidden;
}

.experience-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 15px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  font-weight: 400;
}
.logo {
  width: 80px;
  height: 80px;
}

.description {
  font-size: 14px;
  font-weight: 6s00;
  margin-bottom: 10px;
}

.skill-tags .skill {
  font-size: 14px;
  font-weight: 400;
}

.skill::after {
  content: ".";
  padding-left: 5px;
  padding-right: 2px;
}
.skill::after:last-child {
  content: "";
  padding-right: 0px;
}
