<div class="card">
  <div class="card-header">
    <div class="m-2 d-flex justify-content-between">
      <div class="wh">
        <h4>{{ resume.heading1 }}</h4>
        <span class="line"></span>
      </div>
      <div class="wh-actions">
        <button
          id="show-all-btn"
          class="btn btn-outline-danger"
          data-placement="top"
          data-trigger="hover"
          data-toggle="popover"
          title="Show/Hide Detail"
          data-content="Show/hide detail of job functions and responsibilities"
          onclick="readMoreAll()"
        >
          <i id="show-all-icn" class="ti-menu-alt"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body experiences">
    <!-- KAIOPS -->
    <div class="experience-item" *ngFor="let item of resume.workHistory">
      <div class="experience-header">
        <a [href]="item.Link" target="_blank">
          <img class="logo" [src]="item.imageLink" [alt]="item.alt" />
        </a>

        <div class="col">
          <h5 class="title text-danger">{{ item.title }}</h5>
          <h6 class="bold subtitle">{{ item.subtitle }}</h6>
          <div class="date">{{ item.date }}</div>
          <div class="text">{{ item.status }}</div>
        </div>
      </div>

      <ng-template #short>
        <div class="description">
          <div class="" [innerHTML]="item.short"></div>
        </div>
      </ng-template>
      <ng-template #readmore>
        <div class="description">
          <div
            [ngClass]="[showMoreContent ? 'large-size' : 'small-size']"
            class="more-content"
            [innerHTML]="item.more"
          ></div>
        </div>
      </ng-template>
      <ng-container [ngTemplateOutlet]="short"></ng-container>
      <ng-container [ngTemplateOutlet]="readmore"></ng-container>
      <div class="" (click)="showMore()">
        <span class="text-danger" *ngIf="showMoreContent; else more">
          read less
        </span>
        <ng-template #more>
          <span class="text-danger"> read more </span>
        </ng-template>
        <!-- <div class="description">
            Leading AIOPs development studio, extending the
            functionality of Kubernetes and bringing AI/ML to the core
            of its clusters. Kaiops is a SaaS with minimal deployment
            footprint in your cluster and provides Efficient Capacity
            Management, Security and Compliance, Realtime Cluster Events
            Monitoring, and runs AI models to optimize and automate the
            cluster resource utilization.<span id="dots1">...</span>
            <div class="more-content small-size" id="more1">
              <span>
                Wearing different hats and having a go-go-go attitude
                towards solving challenges was the most amazing part of
                my time at Kaiops. Following are some of the most
                important tasks where I enjoyed challenging myself to go
                over and beyond my limits:
              </span>
              <ul>
                <li>
                  I started off with designing and architecting the SaaS
                  infrastructure.
                </li>
                <li>
                  Rolled-out an <strong>MVP</strong> in less than
                  <strong>2 months</strong> with the help of an
                  enthusiastic team and also by utilizing the enterprise
                  SaaS modules and boilerplates I developed over the
                  years.
                </li>
                <li>
                  Implemented the overall hiring and onboarding process
                  for the engineering team members which include; the
                  creation of JDs, <strong>Posting Ads</strong> on
                  Portals, <strong>initial screening</strong> through
                  automated test platforms,
                  <strong>Interviewing</strong>,
                  <strong>onboarding</strong> and
                  <strong>training</strong>, etc.
                </li>
                <li>
                  Implemented formal
                  <strong>Agile Practices</strong> through
                  <strong>sprint planning</strong>,
                  <strong>daily scrums</strong>, and
                  <strong>sprint review</strong> meetings
                </li>
                <li>
                  Facilitated the founders in Market Analysis,
                  Forecasted Financials, competitors metrics, and even
                  monetization plan.
                </li>
                <li>
                  Conducted <strong>Live Demos</strong> to
                  customers/potential partners and was involved in most
                  of the Investor Pitches.
                </li>
                <li>
                  Created a mono-repo using NRWL for hosting multiple
                  microservices, different reusable libraries, and other
                  third-party modules.
                </li>
                <li>
                  Developed <strong>CICD pipelines</strong> for multiple
                  environments, implemented caching, and automation, and
                  managed application configs/secrets on Gitlab while
                  integrating GKE and Amazon EKS. This brings us to less
                  than <strong>15min of release cycle time</strong>.
                </li>
                <li>
                  Created many UI Features, and Dashboard widgets using
                  <strong>AngularV13</strong> and
                  <strong>D3</strong> Engines.
                </li>
                <li>
                  Improved frequent DB and interservice grpc calls
                  response by <strong>660%</strong> by developing a
                  custom multi- layer caching engine.
                </li>
                <li>
                  Designed and Developed
                  <strong>Optimized Storage Engine</strong> which helped
                  save only the essential time- series telemetry data
                  and even optimize and aggregate the data over time
                  resulting in improving
                  <strong>10x Storage</strong> space and
                  <strong>3x IOPs</strong> improvement.
                </li>
                <li>
                  Written multiple <strong>Code Generators</strong>,
                  that helped teams generate multi-language standardized
                  code in minutes which otherwise could have taken days.
                </li>
                <li>
                  Created 100s of
                  <strong>Docker, Kubernetes,</strong> and
                  <strong>Helm manifests</strong> to help deploy Kaiops
                  <strong>Microservices</strong> and also to deploy
                  agent services on customer clusters.
                </li>
                <li>
                  Developed Application wide Dynamic Audit Log by
                  creating custom
                  <strong>Typescript Decorators</strong> in Nestjs.
                </li>
              </ul>
            </div>
            <button
              href
              class="no-btn text-danger"
              onclick="readMore({dts: 'dots1', mt: 'more1', btn: 'rm1'})"
              id="rm1"
            >
              read more
            </button>
          </div> -->
        <div class="skill-tags">
          <span class="bold mr-1">Skills and Stack: </span>
          <span class="skill" *ngFor="let tag of item?.tags">{{ tag }}</span>
        </div>
      </div>
      <hr />
      <!-- KAIOPS -->

      <!-- GOBOILER -->
      <!-- <div class="experience-item">
          <div class="row experience-header">
            <a href="https://goboilerquotes.com" target="_blank">
              <img
                class="logo"
                src="assets/imgs/boiler.jpeg"
                alt="boiler_logo"
              />
            </a>

            <div class="col">
              <h5 class="title text-danger">Engineering Manager</h5>
              <h6 class="bold subtitle">GoBoilerQuotes.com</h6>
              <div class="date">2019 - 2021</div>
              <div class="text">London, UK (Full Time Remote)</div>
            </div>
          </div>
          <div class="des">
            Leading and Managing a Team of cross-border Engineers for
            the Development of this SaaS product for the European
            Markets. Incorporated my passion for Cloud-Native
            Application Development: designed and currently developing
            along with my team this amazing product using the
            event-driven microservices architecture.
            <span id="dots2">...</span>
            <div class="more-content small-size" id="more2">
              Boiler Quotes is an online platform developed for house
              owners in UK to service, repair or install new boilers in
              their homes by selecting Gas Safe® Certified Engineers. In
              creation of this outstanding product, I am leading and
              have completed following tasks:
              <ul>
                <li>
                  Technical review of Corporate plan and help create
                  effective and efficient
                  <strong>Go To Market</strong> strategy.
                </li>
                <li>
                  Planning, designing & deploying Engineering policies
                  and standards. Implementing code & development,
                  <strong>CICD</strong>, <strong>testing</strong>,
                  <strong>quality assurance</strong> and
                  <strong>security standards</strong> ensuring effective
                  delivery procedures
                </li>
                <li>
                  Leading <strong>Cloud Native</strong> Microservices
                  Architecture, leveraging the AWS AKS/GKE
                  infrastructure to host and orchestrate distributed
                  microservices on hosted Kubernetes Engine.
                </li>
                <li>
                  Creating Microservices Development Architecture based
                  on <strong>Nodejs</strong>,
                  <strong>Dot Net</strong> and
                  <strong>Spring Frameworks.</strong>
                </li>
                <li>
                  Developing Boilerplate Microservices Projects to help
                  take the development process off the ground for the
                  Development teams using following Technology Stack:
                  <ol>
                    <li>
                      <strong>Event Sourcing</strong>,
                      <strong>Caching</strong>,
                      <strong>Message Queue</strong> using
                      <strong>Redis</strong>
                    </li>
                    <li>
                      Image and File Storage at <strong>AWS S3</strong>,
                      <strong>MongoDB</strong> and
                      <strong>Postgres SQL</strong>
                    </li>
                    <li>
                      Frameworks stack contain and not limited to
                      <strong>Nestjs</strong>, <strong>Dot Net</strong>,
                      <strong>Spring</strong>, <strong>Angular</strong>,
                      <strong>Nrwl</strong>,
                      <strong>Typescript</strong>,
                      <strong>Express</strong>,
                      <strong>Fastify</strong>, <strong>GRPC</strong>,
                      <strong>Nest Cloud</strong> etc.
                    </li>
                    <li>
                      Deployment and Containerization is done using
                      <strong>Docker</strong> and
                      <strong>Helm</strong> for
                      <strong>Kubernetes</strong>
                    </li>
                    <li><strong>CICD</strong> using Gitlab Gitops</li>
                    <li>
                      Automation and Deployment Scripts/Manifests using
                      <strong>Bash</strong> and <strong>Yaml</strong>
                    </li>
                  </ol>
                </li>
                <li>
                  Designing and developing 4 different levels of Caches
                  using different caching algorithms to make the
                  Application extremely fast in creating First
                  Contentful Paint, First Full Load, Subsequent Loads,
                  <strong>API Caching</strong> on both Server and Client
                  Side.
                </li>
                <li>
                  Projecting <strong>Lazy Loading</strong> at Component
                  Level using Angular’s new
                  <strong>Ivy Engine</strong> capabilities and designed
                  a Fully Customizable Modular Widget/Component based
                  Page loading algorithm.
                </li>
                <li>
                  Leading and implementing <strong>RBAC</strong>,
                  <strong>OAuth</strong> and <strong>JWT</strong> based
                  Microservice for handling Authentication and
                  Permissions.
                </li>
                <li>
                  Creating Notification Microservice using Event
                  Sourcing while integrating it with
                  <strong>Amazon SES</strong>, <strong>SNS</strong>,
                  <strong>Firebase Messaging</strong> and
                  <strong>Message Bird</strong>.
                </li>
                <li>
                  Building Worker Microservices for handling IO and
                  other processing tasks while keeping the front-end
                  Microservices loosely coupled using
                  <strong>Redis MQ</strong>
                </li>
                <li>
                  Designing and deploying Payment, Accounting, Billing
                  and other Microservices for keeping the separation of
                  concern and modularity in place.
                </li>
              </ul>
            </div>
            <button
              class="no-btn text-danger"
              onclick="readMore({dts: 'dots2', mt: 'more2', btn: 'rm2'})"
              id="rm2"
            >
              read more
            </button>
          </div>
          <div class="skill-tags">
            <span class="bold mr-1">Skills and Stack: </span>
            <span class="skill">Team Leadership</span>
            <span class="skill">Team Building</span>
            <span class="skill">Project Management</span>
            <span class="skill">Servant Leadership</span>
            <span class="skill">Product Management</span>
            <span class="skill">System Design</span>
            <span class="skill">Typescript</span>
            <span class="skill">Angular</span>
            <span class="skill">React</span>
            <span class="skill">Python</span>
            <span class="skill">Nodejs</span>
            <span class="skill">ASP .Net Core</span>
            <span class="skill">Kubernetes</span>
            <span class="skill">Helm</span>
            <span class="skill">Bash</span>
            <span class="skill">DevOps</span>
            <span class="skill">Redis</span>
            <span class="skill">MongoDb</span>
            <span class="skill">PostgresSQL</span>
            <span class="skill">GKE</span>
            <span class="skill">EKS</span>
            <span class="skill">Gitlab Gitops</span>
            <span class="skill">Prometheus</span>
          </div>
        </div> -->
      <!-- <hr /> -->
      <!-- GOBOILER -->

      <!-- FIXONCLICK -->
      <!-- <div class="experience-item">
          <div class="row experience-header">
            <a href="https://fixonclick.com" target="_blank">
              <img
                class="logo"
                src="assets/imgs/fixonclick.jpeg"
                alt="kaiops_logo"
              />
            </a>

            <div class="col">
              <h5 class="title text-danger">CTO / Co-Founder</h5>
              <h6 class="bold subtitle">Fixonclick.com</h6>
              <div class="date">2015 - 2019</div>
              <div class="text">Dubai, UAE (Full Time On-Site)</div>
            </div>
          </div>
          <div class="de">
            FixOnClick – was an online application developed under the
            hood of Dexterous Online Portals LLC in Dubai. FixOnClick
            App helped in connecting consumers to the required
            Professional Fixers and have them drop in right at their
            doorstep anywhere in UAE. Users simply sign-in and search
            for the services that they need. Fill out their requirements
            and watch a Professional Fixer assigned to them within
            minutes. Fixonclick was available on Google and App Store.
            <span id="dots3">...</span>
            <div class="more-content small-size" id="more3">
              <span>
                For highly dynamic architecture of the app, it was
                important to build it in-house that I orchestrated with
                my design, engineering, marketing and sales team.
                Following major roles with an enthusiastic team that
                built FixOnclick.
              </span>
              <ul>
                <li>
                  Managed, hired, trained cross-functional local/remote
                  engineering and customer support teams.
                </li>
                <li>
                  Designed the MVP to launch initially and later a
                  modular state-of-the-art Software Architecture using
                  Current Edge Technologies which helped updating
                  features and shipping them in minimum possible time.
                </li>
                <li>
                  Designed Micro Services Architecture to fulfill a
                  <strong>12 Factor Application</strong> compliance,
                  which helped developing the features in Sprints with
                  iterations and keeping the separation of concerns.
                </li>
                <li>
                  Designing Core Services’ Architecture for Users,
                  <strong>Monetization</strong>, and a real-time
                  Notification Engine.
                </li>
                <li>
                  Developed the Cloud Deployment Architectures to
                  utilize the containerization and orchestration
                  technologies like <strong>Docker</strong>,
                  <strong>Docker Swarm</strong>,
                  <strong>Kubernetes</strong> and
                  <strong>Open Shift</strong> etc. to leverage the
                  microservice’ deployments, scaling, monitoring,
                  management and delivery.
                </li>
                <li>
                  Hands-on experience of developing backend
                  micro-services using <strong>Node</strong>,
                  <strong>Python</strong>, <strong>Spring</strong> and
                  <strong>.Net</strong>.
                </li>
                <li>
                  Extensively developed cloud native boilerplates with
                  integrated <strong>CI/CD</strong> for teams to develop
                  awesome looking font-ends Frameworks like Angular and
                  React and Single Code Base Frameworks for mobile like
                  <strong>Flutter</strong>.
                </li>
              </ul>
            </div>
            <button
              class="no-btn text-danger"
              onclick="readMore({dts: 'dots3', mt: 'more3', btn: 'rm3'})"
              id="rm3"
            >
              read more
            </button>
          </div>
          <div class="skill-tags">
            <span class="bold mr-1">Skills and Stack: </span>
            <span class="skill">Team Leadership</span>
            <span class="skill">Team Building</span>
            <span class="skill">Project Management</span>
            <span class="skill">Servant Leadership</span>
            <span class="skill">Product Management</span>
            <span class="skill">System Design</span>
            <span class="skill">Cloud Security</span>
            <span class="skill">Typescript</span>
            <span class="skill">Angular</span>
            <span class="skill">Flutter</span>
            <span class="skill">React</span>
            <span class="skill">React Native</span>
            <span class="skill">Python</span>
            <span class="skill">Java</span>
            <span class="skill">Nodejs</span>
            <span class="skill">DevOps</span>
            <span class="skill">CICD</span>
          </div>
        </div>
        <hr /> -->
      <!-- FIXONCLICK -->

      <!-- ANSARIES -->
      <!-- <div class="experience-item">
          <div class="row experience-header">
            <a href="https://ansaries.com" target="_blank">
              <img
                class="logo"
                src="assets/imgs/ansaries.jpeg"
                alt="kaiops_logo"
              />
            </a>

            <div class="col">
              <h5 class="title text-danger">
                Planning Director / Co-Founder
              </h5>
              <h6 class="bold subtitle">Ansari Security Systems</h6>
              <div class="date">2004 - 2014</div>
              <div class="text">Dubai, UAE (Full Time On-Site)</div>
            </div>
          </div>
          <div class="de">
            An ICT Solutions Provider across a range of industries
            including Public, Defense, Hospitality, Healthcare,
            Education, Retail, Royal Offices and other Private Sectors.
            The company has core experience of design, build and
            implementation of Current Edge Surveillance Systems, Digital
            Media Transmission and Control Systems and state-of-the-art
            Automation Systems. I have had my hands on following major
            aspects of business:
            <span id="dots4">...</span>
            <div class="more-content small-size" id="more4">
              <ul>
                <li>
                  Created Infrastructure, Security, Audio Visual and
                  Automation Divisions with each one having their own
                  Revenue Streams and which generated a total of 14M AED
                  average yearly revenue.
                </li>
                <li>
                  Managed multiple Key Accounts and their Projects
                  mainly in Public and Defense Verticals
                </li>
                <li>
                  Lead and worked closely with the Project Management
                  Teams to develop and deploy professional solutions.
                </li>
                <li>
                  Formed a formal Contracts Management portfolio to
                  manage long terms contracts.
                </li>
                <li>
                  Created efficient process for Estimation, Sales
                  Engineering, Specification and Compliance Management.
                </li>
                <li>
                  Developed an R&D Department to do continuous research
                  and development to always keep our solutions one step
                  ahead of the general market.
                </li>
                <li>
                  Lead local and remote Engineering Teams for Projects
                  in all over MENA mostly in Saudi Arabia, Qatar,
                  Oman,UAE and multiple countries in Africa.
                </li>
              </ul>
            </div>
            <button
              class="no-btn text-danger"
              onclick="readMore({dts: 'dots4', mt: 'more4', btn: 'rm4'})"
              id="rm4"
            >
              read more
            </button>
          </div>
          <div class="skill-tags">
            <span class="bold mr-1">Skills and Stack: </span>
            <span class="skill">Team Leadership</span>
            <span class="skill">Team Building</span>
            <span class="skill">Project Management</span>
            <span class="skill">Product Management</span>
            <span class="skill">System Design</span>
            <span class="skill">Security</span>
            <span class="skill">Audio Visual</span>
            <span class="skill">Automation</span>
            <span class="skill">CCTV</span>
            <span class="skill">Access Control</span>
            <span class="skill">Digital Signage</span>
            <span class="skill">Digital Media</span>
            <span class="skill">Digital Media Storage</span>
            <span class="skill">Digital Media Control</span>
            <span class="skill">Embeded Systems Programming</span>
            <span class="skill">Control Systems Programming</span>
          </div>
        </div>
        <hr /> -->
      <!-- ANSARIES -->

      <!-- KIOS -->
      <!-- <div class="experience-item">
          <div class="row experience-header">
            <a target="_blank">
              <img
                class="logo"
                src="assets/imgs/kayos.png"
                alt="kaiops_logo"
              />
            </a>

            <div class="col">
              <h5 class="title text-danger">Software Developer</h5>
              <h6 class="bold subtitle">Kayos Works</h6>
              <div class="date">2002 - 2003</div>
              <div class="text">Dubai, UAE (Full Time On-Site)</div>
            </div>
          </div>
          <div class="de">
            KayosWorks is a Consultants owned IT services and Software
            Development Studio based in New Jersey, USA, with its local
            office in Islamabad Pakistan. They were working on a
            distributed solution for major federal agencies.
            <span id="dots5">...</span>
            <div class="more-content small-size" id="more5">
              <ul>
                <li>
                  <strong>Optimized Query Engine</strong>
                  <br />
                  <span
                    >OQE was an ETL (Extract transform and Loading tool)
                    Developed using Visual C++ (COM/DCOM) for
                    optimization of a health care product named Visual
                    Practice ( www.visualpractice.com ). Visual Practice
                    was originally developed in Visual FoxPro 6.0. The
                    component uses high performance data caching and
                    synchronization mechanism.</span
                  >
                </li>
                <li>
                  <strong
                    >Visual Practice 2.0 Enterprise Edition</strong
                  >
                  <span
                    >It was an application with heterogeneous systems
                    architecture; the database is located on a Linux
                    based server which was maintained by PostgreSQL
                    server and the GUI/ front end was developed for
                    Windows platform. The front end of the application
                    was developed in VC#, the middle tier was developed
                    in VC++ .Net and the database is connected through
                    ADO .Net using pgSql (An oledb driver for
                    PostgreSQL).</span
                  >
                </li>
              </ul>
            </div>
            <button
              class="no-btn text-danger"
              onclick="readMore({dts: 'dots5', mt: 'more5', btn: 'rm5'})"
              id="rm5"
            >
              read more
            </button>
          </div>
          <div class="skill-tags">
            <span class="bold mr-1">Skills and Stack: </span>
            <span class="skill">System Design</span>
            <span class="skill">Visual C++</span>
            <span class="skill">Visual Basic</span>
            <span class="skill">C/C++</span>
            <span class="skill">Visual Foxpro</span>
            <span class="skill">COM/DCOM</span>
            <span class="skill">PostgreSQL</span>
          </div>
        </div> -->

      <!-- KIOS -->
    </div>
  </div>
</div>
