<div class="container">
    <p class="small mb-0 text-light" *ngFor="let s of footerValues">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Created With <i class="ti-heart text-danger"></i> By
      <a
        [href]="s.portfolioLink"
        target="_blank"
        ><span class="text-danger" title="Bootstrap 4 Themes and Dashboards"
          >{{s.name}}</span
        ></a
      >
    </p>
  </div>
