<div class="card">
  <div class="card-header">
    <div class="pull-left">
      <h4 class="mt-2">{{ hours.heading3 }}</h4>
      <span class="line"></span>
    </div>
  </div>
  <div class="card-body pb-2" *ngFor="let i of hours.skills">
    <h6>{{ i.name }}</h6>
    <div class="progress mb-3">
      <div
        class="progress-bar bg-danger"
        role="progressbar"
        [ngStyle]="{ width: i.score }"
      ></div>
    </div>
    <!-- <h6>JavaScript</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Nodejs</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>MongoDB</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Angular</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 97%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Python</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Flutter</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 85%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>React</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 85%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>Dot Net</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>SQL</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>DevOps</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h6>DevSecOps</h6>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 85%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div> -->
  </div>
</div>
