.filters {
  border-bottom: 2px solid #dee2e6;
  border-radius: 0;
  padding-bottom: 4px;
  margin: 0 auto 20px;
  max-width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
