<div class="container">
  <h2 class="mb-5">
    <span class="text-danger">{{ portfolio.highlightedTitle }}</span>
    {{ portfolio.title }}
  </h2>
  <div class="portfolio">
    <div class="filters">
      <div *ngFor="let l of portfolio.links">
        <a [href]="l.link" [attr.data-filter]="l.data" [ngClass]="l.class">
          {{ l.title }}</a
        >
      </div>

      <!-- <a href="#" data-filter=".advertising"> Security </a>
      <a href="#" data-filter=".branding"> DevOps </a>
      <a href="#" data-filter=".web"> Others </a> -->
    </div>
    <div class="portfolio-container">
      <div class="col-md-6 col-lg-4 web new">
        <div class="portfolio-item" *ngFor="let i of portfolio.itemCard">
          <div [ngClass]="i.class">
            <div
              class="card-image"
              style="background-image: url('{{ i.imageLink }}')"
            >
              <div class="overlay"></div>
              <div class="social">
                <a class="social-link text-light mr-2" [href]="i.Link"
                  ><i class="ti-github" aria-hidden="true"></i
                ></a>
                <a class="social-link text-light" [href]="i.Link"
                  ><i class="ti-unlink" aria-hidden="true"></i
                ></a>
              </div>
            </div>
            <div class="card-header">{{ i.header }}</div>
            <div class="card-body">
              {{ i.body }}
            </div>
          </div>
        </div>
      </div>
      <!-- <div -->
      <ng-container *ngFor="let i of portfolio.portfolioItem">
        <div [ngClass]="i.class">
          <div class="portfolio-item">
            <img
              [src]="i.imageLink"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" [href]="i.imageLink"></a>
              <div class="text-holder">
                <h6 class="title">{{ i.title }}</h6>
                <p class="subtitle">
                  {{ i.subtitle }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- <div class="col-md-6 col-lg-4 web">
          <div class="portfolio-item">
            <img
              src="assets/imgs/web-4.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/web-4.jpg"></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <div class="col-md-6 col-lg-4 advertising new">
          <div class="portfolio-item">
            <img
              src="assets/imgs/advertising-2.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/advertising-2.jpg"></a>
              <div class="text-holder">
                <h6 class="title">ADVERSTISING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 web">
          <div class="portfolio-item">
            <img
              src="assets/imgs/web-4.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/web-4.jpg"></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 advertising">
          <div class="portfolio-item">
            <img
              src="assets/imgs/advertising-1.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/advertising-1.jpg"></a>
              <div class="text-holder">
                <h6 class="title">ADVERSITING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 web new">
          <div class="portfolio-item">
            <img
              src="assets/imgs/web-3.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/web-3.jpg"></a>
              <div class="text-holder">
                <h6 class="title">WEB</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 advertising new">
          <div class="portfolio-item">
            <img
              src="assets/imgs/advertising-3.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/advertising-3.jpg"></a>
              <div class="text-holder">
                <h6 class="title">ADVERSITING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 advertising new">
          <div class="portfolio-item">
            <img
              src="assets/imgs/advertising-4.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/advertising-4.jpg"></a>
              <div class="text-holder">
                <h6 class="title">ADVERTISING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 branding new">
          <div class="portfolio-item">
            <img
              src="assets/imgs/branding-1.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/branding-1.jpg"></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 branding">
          <div class="portfolio-item">
            <img
              src="assets/imgs/branding-2.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/branding-2.jpg"></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 branding new">
          <div class="portfolio-item">
            <img
              src="assets/imgs/branding-3.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/branding-3.jpg"></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 branding">
          <div class="portfolio-item">
            <img
              src="assets/imgs/branding-4.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/branding-4.jpg"></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 branding">
          <div class="portfolio-item">
            <img
              src="assets/imgs/branding-5.jpg"
              class="img-fluid"
              alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates"
            />
            <div class="content-holder">
              <a class="img-popup" href="assets/imgs/branding-5.jpg"></a>
              <div class="text-holder">
                <h6 class="title">BRANDING</h6>
                <p class="subtitle">
                  Expedita corporis doloremque velit in totam!
                </p>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>
